<main class="article">
  <div class="content-frame">
    {{> toolbar}}
    <div class="content">
{{#if (eq page.layout '404')}}
{{> article-404}}
{{else}}
{{> toc}}
      <div class="article-panel">
{{> article}}
      </div>
{{/if}}
    </div>
  </div>
</main>
