<div class="toolbar" role="navigation">
{{> nav-toggle}}
  {{#with site.homeUrl}}
  <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}"></a>
  {{/with}}
{{> breadcrumbs}}
{{> page-versions}}
<div class="toolbar-spacer"></div>
<div class="toolbar-theme-switcher hide-for-print">
  <label for="theme-switcher">Theme</label>
  <select id="theme-switcher" data-theme-switcher aria-label="Theme">
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>
</div>
{{> edit-this-page}}
</div>
