.article {
  background: var(--article-background);
}

.content-frame {
  background: var(--content-frame-background);
  max-width: 100%;
  width: 100%;
}

body.-toc aside.toc.sidebar {
  display: none;
}

@media screen and (max-width: 1023.5px) {
  aside.toc.sidebar {
    display: none;
  }

  .content-frame > .content {
    overflow-x: auto;
  }
}

.article-panel {
  min-width: 0;
}

aside.toc.embedded {
  background: var(--toc-embedded-background);
}

@media screen and (min-width: 1024px) {
  main {
    flex: auto;
    min-width: 0; /* min-width: 0 required for flexbox to constrain overflowing elements */
  }

  .content-frame > .content {
    display: flex;
    min-height: calc(var(--body-min-height) - var(--toolbar-height));
  }

  aside.toc.embedded {
    display: none;
  }

  aside.toc.sidebar {
    flex: 0 1 var(--toc-width);
    max-width: var(--toc-width--wide);
    min-width: var(--toc-width--narrow);
    order: 1;
  }

  .article-panel {
    display: flex;
    flex: 0 1 calc(var(--doc-max-width--desktop) + 4rem);
    flex-direction: column;
    max-width: calc(var(--doc-max-width--desktop) + 4rem);
    min-width: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1216px) {
  aside.toc.sidebar {
    flex-basis: var(--toc-width--stacked);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279.5px) {
  .content-frame > .content {
    display: block;
  }

  .article-panel {
    max-width: none;
  }

  aside.toc.embedded {
    display: block;
  }

  aside.toc.sidebar {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .content-frame {
    width: calc(var(--doc-max-width--desktop) + 4rem + var(--toc-width--stacked));
  }
}
