body.-toc aside.toc.sidebar {
  display: none;
}

@media screen and (max-width: 1023.5px) {
  aside.toc.sidebar {
    display: none;
  }

  main > .content {
    overflow-x: auto;
  }
}

@media screen and (min-width: 1024px) {
  main {
    flex: auto;
    min-width: 0; /* min-width: 0 required for flexbox to constrain overflowing elements */
  }

  main > .content {
    display: flex;
    min-height: calc(var(--body-min-height) - var(--toolbar-height));
  }

  aside.toc.embedded {
    display: none;
  }

  aside.toc.sidebar {
    flex: 0 1 var(--toc-width);
    max-width: var(--toc-width--wide);
    min-width: var(--toc-width--narrow);
    order: 1;
  }
}

@media screen and (min-width: 1216px) {
  aside.toc.sidebar {
    flex-basis: var(--toc-width--stacked);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279.5px) {
  main > .content {
    display: block;
  }

  aside.toc.sidebar {
    margin: 1rem 2rem 0;
    max-width: none;
    min-width: 0;
  }
}
